@charset "utf-8";

body{
    background-image: url(../img/front.jpg);
    background-repeat: no-repeat;
    background-size:  cover;
    width: 100%;
    height: 100%;
}

section{
    min-height: 25rem;
}

.navbar{
    background-color: rgba(255, 166, 0, 0.7) !important;
}

.dropdown-menu{
    background-color: rgba(255, 166, 0, 0.7) !important;
}

.dropdown-menu li a:hover{
    background-color: rgba(255, 166, 0, 0.8) !important;
}

.header_info{
    color: rgba(0, 0, 0, 0.8);
}

.header_info .msg p{
    text-align: center;
    display: block;
    width: 75%;
    margin: auto;
}

.card{
    display: inline-block;
    height: auto;

    background-color: rgba(255, 255, 255, 0.8);
    border: rgba(255, 166, 0, 0.4) solid 1px;
}
.card .card-header{
    background-color: rgba(255, 166, 0, 0.7) !important;
}

.estudiante, .profesor, .administrador {
    display: none;
}

footer{
    background-color: rgba(0, 0, 0, 0.534);
    color: white; 
    padding: 16px;   
}

footer .copyrigth{
    display: inline;
    margin: 0;
    padding: 0;
    text-align: center;
}

@media(max-width: 1200px){
    
}

@media(max-width: 992px){

}

@media(max-width: 768px){

}

